@font-face {
font-family: 'VistaSanRegIta';
src: url('../fonts/VistaSanRegIta.ttf');

font-family: 'Bree';
src: url('../fonts/ufonts.com_bree-lightoblique-opentype.otf');
src: url('../fonts/ufonts.com_bree-boldoblique-opentype.otf');
src: url('../fonts/ufonts.com_bree-regular-opentype.otf');
}

html, body{
   font-size: 100%;
   background:#F2F2F2; 
   /*min-width: 320px; */
}

.div_logo{
	text-align: center;
}

.logo{
	/*width: 40ex;*/
	/*height: 20ex;*/
}

.titulo{
  padding: 10px 0 10px 0;
  text-align: center;
  color: #ffb300;
  font-family: 'Bree';
  font-size: 400%;
}

.texto{
  padding: 10px 0 10px 0;
  text-align: center;
  font-family: 'Bree'; 
  font-size: 150%; 
  color: #9f9f9f;
}

.nome_cidade{
	color: #ffb300;
  text-align: center;
	font-family: 'Bree';
}

.label{
	color: #ffb300;
	font-family: 'Bree';
  font-size: 20px;	
}

.botao{
	text-align: left;
}
.btn {
  /*background: #FFA500;*/
  background: #ffb300;
  background-image: -webkit-linear-gradient(top, #FFA500, #FFA500);
  background-image: -moz-linear-gradient(top, #FFA500, #FFA500);
  background-image: -ms-linear-gradient(top, #FFA500, #FFA500);
  background-image: -o-linear-gradient(top, #FFA500, #FFA500);
  background-image: linear-gradient(to bottom, #FFA500, #FFA500);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  /*font-family: Arial;*/
  font-family: 'Bree';
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  border: 1px solid;
}

.btn:hover {
  text-decoration: none;
}

.trocar_email{
  color: #FFA500;
  font-family: 'Bree';
  float: right;
  /*margin-right: 40px;*/
}

.todos_eventos{

}

a:link 
{ 
  text-decoration:none; 
} 

.evento{
	padding: 10px 0 10px 0;
	width: 100%;
	height: auto;
	display: table; /*faz com que a div circule por todas as divs filhas*/
	font-family: 'Bree';
}

.campo{
	width: 100%;
	height: auto;
	display: table; /*faz com que a div circule por todas as divs filhas*/
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 10px 0 10px 0;
  font-family: 'Bree';
  font-size: 20px;
}

.resultado{
  width: 100%;
  height: auto;
  display: table; /*faz com que a div circule por todas as divs filhas*/
  border-radius: 8px;
  /*border: 1px solid #000000;*/
  /*padding: 10px 0 10px 0;*/
  font-family: 'Bree';
  font-size: 20px;
}

.nome_evento{
	width: 60%;
	text-align: left;
	float: left;
  font-family: 'Bree';
}

.data_evento{
	/*width: 20%;*/
	text-align: right;
	margin-left: 70%;
  font-family: 'Bree';
}

.hora_evento{
	width: auto;
	text-align: left;
	float: left;
	color: #FFA500;
	font-style: italic;
  font-size: 80%;
  font-family: 'Bree';
}

.local_evento{
	width: auto;
	text-align: left;
	float: left;
	color: #FFA500;
	font-style: italic;
  font-size: 80%;
  font-family: 'Bree';
}

.endereco_evento{
	width: auto;
	text-align: left;
	float: left;
	color: #FFA500;
	font-style: italic;
  font-size: 80%;
  font-family: 'Bree';
}

.observacao_evento{
	width: 100%;
	text-align: left;
	float: none;
	color: #FFA500;
	font-style: italic;
  font-size: 80%;
  font-family: 'Bree';
}

.link_evento{
	width: 100%;
	text-align: left;
	float: none;
	color: #FFA500;
	font-style: italic;
  font-family: 'Bree';
}


/*style.css*/
.element {
    width: 50%;
    margin:0.5em auto 0em;
}

.element h1 {
    font-size: 2.5em;
    /*color: #df4231;*/
    color: #FFA500;
    text-align: center;
    margin-bottom: 1em;
    font-weight: 400;
}

.element-block2-left {
    float: center;
    width: 100%;
}

.signin {
    background: #fff;
    padding: 2em 2em;
    border-radius: 4px;
    box-shadow: 0 -1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
}

@media(max-width:1440px){
.element {
    width: 60%;	
}
}
@media(max-width:1280px){
.element {
    width: 65%;
}	
}
@media(max-width:1024px){
.element {
    width: 80%;
}
}
@media(max-width:800px){
.element {
    width: 100%;
}	

.element-block2-left {
    float: none;
    width: 100%;
    margin: 0em auto 2em;
}
.link_evento{
	font-size: 0.6em;
}
}

@media(max-width:480px){
.element-block2-left {
    float: none;
    width: 100%;
     margin: 0em auto 1em;
}

}
@media(max-width:414px){

.element h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

}
@media(max-width:384px){
.element-block2-left {
    float: none;
    width: 100%;
}
.signin {
    padding: 1em 1em;
}
}

@media(max-width:320px){
html, body{
   font-size: 70%;
}

.element {
    margin: 1em auto 0em;
}	
.element h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.link_evento{
	font-size: 0.6em;
}

@media(max-width:300px){
html, body{
   font-size: 50%;
}


}